* {
  margin: 0px;
  padding: 0px;
}

body{
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: bold;
  color: grey;
  margin: 10px;
}

p.intro {
  color: black;
  padding: 10px;
  font-size: 14px;
  word-spacing: 0.1em;
}

div.list {
  margin: 1px 50px;
  padding: 1px;
  line-height: 1.6em;
}

div.list li{
  list-style-type: square;
}

div.table table {
  border: 1px solid grey;
  border-collapse: collapse;
  margin: 10px;
  border-spacing: 0px;
}

thead tr {
  background-color: lightblue;
  line-height: 150%;
}

thead tr th {
  color: white;
  font-weight: normal;
  padding: 10px;
  border-left: 1px solid grey;
}

tbody tr.odd {
  background-color: #e8eff5;
  line-height: 100%;
}

tbody tr:hover {
  background-color: #e0e9f0;
}

tbody tr th {
  padding: 10px;
  line-height: 130%;
  font-weight: bold;
}


tbody tr td {
  padding: 10px;
  line-height: 130%;
  font-weight: normal;
  border-left: 1px solid black;
  font-size: 14px;
}

div.form{
  width: 400px;
}
div.form fieldset {
  padding: 10px;
  margin-left: 10px;

}

legend{
  color: grey;
  font-style: italic;
}

div.form div.form-content .title{
  float: left;
  width: 200px;
  padding-right: 10px;
  clear: left;
}

.form-name, .form-email, .form-dropdown, .form-radio{
  padding-bottom: 10px;
}

input[type="radio"]{
  margin-right: 2px;
}

#r2-label{
  margin-left: 15px;
}

.submit {
  font-size: 12px;
  color: white;
  background-color: green;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  float: right;

}

input[type="text"]:hover, input[type="email"]:hover,
input[type="text"]:focus, input[type="email"]:focus{
  background-color: #d0e2f0;
  border: 1px solid #999999;
}
