
#loader-wrapper {
  position: relative;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4a4a4a;
  animation: load-out 1s 3s ease-in-out forwards;
}

#loader{
  display: block;
  width: 100px;
  height: 100px;
  margin: 100px auto;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #34A853;
  animation: spin 1s linear infinite;

}


#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #EA4335;
  animation: spin 2s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #4285F4;
  animation: spin 4s linear infinite;
}



@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);   /*IE 9 */
          transform: rotate(0deg);
   }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);   /*IE 9 */
        transform: rotate(360deg);
      }
}

@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);   /*IE 9 */
          transform: rotate(0deg);
   }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);   /*IE 9 */
        transform: rotate(360deg);
      }
}



#loader-2{
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 200px auto;
  border: 5px solid transparent;
  border-radius: 50%;
  border-top-color: #34A853;
  border-left-color: #EA4335;
  border-right-color:#4285F4;
  border-bottom-color: #FBBC05;
  animation: spin 1s linear infinite;

}


#loader-3 {
  position:relative;
  width: 20px;
  height: 20px;
  background: #eee;
  border-radius: 50%;
  left: 350px;
  display: inline-block;
}

#loader-3:after, #loader-3:before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  background: #83807e;
  animation: pulse 3s linear infinite;
  opacity: 0;
}

#loader-3:after{
  animation: pulse 2s 1.3s linear infinite;
}

@keyframes pulse {
  0%{transition: scale(0);
      opacity: 1;}

100% { transform: scale(1.3);
        opacity: 0;}
}





/** KEYFRAMES FOR LOADING SCREEN **/

@-webkit-keyframes load-out {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: 100%;
        opacity: 1;
    }
}

@keyframes load-out {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: 100%;
        opacity: 1;
    }
}






/**** CONTENT ***/
div.content h1{
  font-size: 30px;
  font-family: sans-serif;
  color: #549f8b;
  text-align: center;
  margin-top: 30px;
}
